<h2>Professional Experiences</h2>
<table class="exp-list">
  <tr>
    <th>Job name</th>
    <th>Description</th>
    <th>Company</th>
    <th>Technology used</th>
  </tr>
  <tr>
    <td>Junior Data Clerk</td>
    <td>First Professional Experience of managing and Processing large amount of Data. <br/>
      I were part of the team who handle the project of data migration. <br/>
    I was in charge of creating a new model of data and use it to classify and formalize the large amount of data I got</td>
    <td><a href="https://www.uottawa.ca/protection/en">Protection Services - University of Ottawa</a></td>
    <td><ul>
      <li>Microsoft Excel + PowerQuery</li>
      <li>Archibus Web Central</li>
    </ul></td>
  </tr>

  <tr>
    <td>Teaching Assistant</td>
    <td>I basically help student to perform in the <em>Introduction to Software Engineering Course</em>.<br/>
      I introduced them to some application which are are famous in software development.</td>
    <td><a href="https://www2.uottawa.ca/">University of Ottawa</a></td>
    <td><ul>
      <li><b>Git And GitHub</b> for Version Control</li>
      <li><b>Android Studio</b> for mobile application</li>
      <li><b>Firebase database</b> for NoSQL Database </li>
      <li><b>SQLite</b> for local database</li>
      <li><b>Circle CI</b> for Continious Integration</li>
    </ul></td>
  </tr>
</table>

