<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-md-auto">
      <div class="content">

        <h1>Welcome to my portofolio Website</h1>
        <h4>Hello, my name is <em>Mika RAFARALAHY</em>, I am a second year software Engineering student at the <a href="https://uottawa.Ca">University of Ottawa</a></h4>
        <p>I'm coming from Madagascar and started programming 4 years ago, but I really started to focus on it after I got my High school diploma.
          I love programming and I like try new things in this field.
          My favorite field in this domain is the creation of mobile application, especially Android Application. I used Android Studio form almost all of my mobile application project.
          I got experiences in developping web application too, for example this website were made using the <a href="https://angular.io/">Angular Framework</a>.
          Currently, my goal is to improve myself in this field and start my own software company once I graduate.<br/>
        </p>
        <div class="menu-portfolio">
          <div class="skills">
            <app-skills></app-skills>
          </div>
          <div class="experience">
            <app-experiences></app-experiences>
          </div>
          <div class="projects">
            <app-projects></app-projects>
          </div>
          <div class="contact">
            <app-contact></app-contact>
          </div>
        </div>
      </div>

    </div>
    <div class="col"></div>
  </div>
</div>

