<h2>Projects</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Type of Project</th>
    <th>Description</th>
    <th>Development</th>
    <th>GitHub</th>
  </tr>

  <tr>
    <td>ADHD Project</td>
    <td>Android Application</td>
    <td>This project was created for academic purpose. We were assigned to create a mobile application for people who are suffering of ADHD (Attention Deficit Hyperactivity Disorder)
    The client asked us to create a convivial application that He could use in his everyday life and help him
    to fight the illness</td>
    <td><ul>
      <li>Android Studio</li>
      <li>FireBase Database</li>
    </ul></td>
    <td><a href="https://github.com/Foxmik0007/TDAH">ADHD Project</a></td>
  </tr>

  <tr>
    <td>Mik'Mak Madagascar</td>
    <td>Website</td>
    <td>This project was m first web application I created. The website is basically a food ordering web application. The website is not achieved yet because I
    didn't have much time to do it. The current state of the website is static</td>
    <td><ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>Javascript</li>
    </ul></td>
    <td><a href="https://github.com/Foxmik0007/Personal">Mik'Mac Application</a></td>
  </tr>
</table>
