<!-- <h2>Skills</h2>
<tr>
  <th>Mobile Application development</th>
  <th>Front-End development</th>
  <th>Back-End development</th>
  <th>devOps</th>
  <th>Database management</th>
</tr>
<tr>
  <td><img src="../assets/images/android_studio.png" media alt="android studio" width="130" height="70"></td>
  <td><img src="../assets/images/nodeJs.png" alt="Node JS" width="130" height="60"></td>
  <td><img src="../assets/images/springboot.png" alt="android studio" width="130" height="70"></td>
  <td><img src="../assets/images/docker.png" alt="docker" width="130" height="40"></td>
  <td><img src="../assets/images/firestore.png" alt="firestore" width="130" height="50"></td>
</tr>
<tr>
  <td><img src="../assets/images/flutter.png" alt="flutter" width="130" height="50"></td>
  <td><img src="../assets/images/angular.png" alt="angular" width="80" height="70"></td>
  <td></td>
  <td></td>
  <td><img src="../assets/images/sqlite.png" alt="SQLite" width="130" height="50"></td>
</tr> -->
<h2>Skills</h2>
<div class="conteneur">
  <div class="skill">
    <p>Mobile Application</p>
    <div class="skill-content">
      <img src="./assets/images/androidlogo.png" alt="logo" width="30" height="30">
      <a href="https://developer.android.com/docs">   Android Studio</a><br>
      <img src="./assets/images/flutterlogo.svg" alt="logo" width="30" height="30">
      <a href="https://flutter.dev/docs">   Flutter</a>
    </div>
  </div>
  <div class="skill">
    <p>Front End</p>
    <div class="skill-content">
      <img src="./assets/images/nodejslogo.png" alt="logo" width="25" height="25">
      <a href="https://nodejs.org/en/docs/">   Node Js</a> <br>
      <img src="../assets/images/angularlogo.svg" alt="angular" width="30" height="30">
      <a href="https://angular.io/docs">   Angular Framework</a>
    </div>
  </div>
  <div class="skill">
    <p>Back End</p>
    <div class="skill-content">
      <img src="../assets/images/springlogo.png" alt="SpringBoot" width="25" height="25">
      <a href="https://docs.spring.io/spring-framework/docs/current/reference/html/">    SpringBoot</a>
    </div>
  </div>
  <div class="skill">
    <p>devOps</p>
    <div class="skill-content">
      <img src="../assets/images/docker.png" media alt="Docker" width="50" height="50"><a href="https://www.docker.com/">Docker</a>
    </div>
  </div>
  <div class="skill">
    <p>Database</p>
    <div class="skill-content">
      <img src="./assets/images/firestorelogo.png" alt="firestore" width="35" height="35">
      <a href="https://firebase.google.com/docs/firestore">    Firestore</a> <br>
      <img src="./assets/images/sqlitelogo.png" alt="sqlite" width="30" height="30">
      <a href="https://www.sqlite.org/docs.html">    SQLite</a>
    </div>
  </div>
</div>

