@media screen and (min-width: 1000px) and (max-width: 1920px){
  .conteneur {
    display: flex;
    justify-content: space-between;
  }

  .conteneur p {
    border-bottom: solid gainsboro;
    text-align: center;
    font-weight: bold;
    font-size: larger;
  }

  .skill {
    width: 200px;
  }

}

@media screen and (max-width: 1000px){

  .conteneur {
    display: flex;
    flex-direction: column;
    padding: 175px;
  }
  .conteneur p {
    border-bottom: solid gainsboro;
    text-align: center;
    font-weight: bold;
    font-size: larger;
  }

  .skill {
    width: 200px;
  }

}
