<!-- <h2>Skills</h2>
<tr>
  <th>Mobile Application development</th>
  <th>Front-End development</th>
  <th>Back-End development</th>
  <th>devOps</th>
  <th>Database management</th>
</tr>
<tr>
  <td><img src="../assets/images/android_studio.png" media alt="android studio" width="130" height="70"></td>
  <td><img src="../assets/images/nodeJs.png" alt="Node JS" width="130" height="60"></td>
  <td><img src="../assets/images/springboot.png" alt="android studio" width="130" height="70"></td>
  <td><img src="../assets/images/docker.png" alt="docker" width="130" height="40"></td>
  <td><img src="../assets/images/firestore.png" alt="firestore" width="130" height="50"></td>
</tr>
<tr>
  <td><img src="../assets/images/flutter.png" alt="flutter" width="130" height="50"></td>
  <td><img src="../assets/images/angular.png" alt="angular" width="80" height="70"></td>
  <td></td>
  <td></td>
  <td><img src="../assets/images/sqlite.png" alt="SQLite" width="130" height="50"></td>
</tr> -->
<h2>Skills</h2>
<div class="conteneur">
  <div class="skill">
    <p>Mobile dev</p> <br/>
    <img src="../assets/images/android_studio.png" media alt="android studio" width="130" height="70"><br/>
    <img src="../assets/images/flutter.png" alt="flutter" width="130" height="50">
  </div>
  <div class="skill">
    <p>Front End</p> <br/>
    <img src="../assets/images/nodeJs.png" alt="Node JS" width="130" height="60"> <br/>
    <img src="../assets/images/angular.png" alt="angular" width="80" height="70">
  </div>
  <div class="skill">
    <p>Back End</p> <br/>
    <img src="../assets/images/springboot.png" alt="SpringBoot" width="130" height="70">
  </div>
  <div class="skill">
    <p>devOps</p> <br/>
    <img src="../assets/images/docker.png" media alt="Docker" width="50" height="30"><a href="https://www.docker.com/">Docker</a>
  </div>
  <div class="skill">
    <p>Database</p> <br/>
    <img src="../assets/images/firestore.png" media alt="firestore" width="50" height="30"><a href="https://firebase.google.com/docs/firestore">Google Firestore</a><br/><br/>
    <img src="../assets/images/sqlite.png" alt="SQLite" width="80" height="50">
  </div>
</div>

