

<!-- <table>
  <tr>
    <td><a href="https://www.linkedin.com/in/mika-rafaralahy-4643a51a2/"><img src="../assets/images/linkedIn.png" alt="linkeDin" width="40" height="40"></a></td>
    <td><a href="https://github.com/Foxmik0007"><img src="../assets/images/gitHub.png" alt="github" width="40" height="40"></a></td>
    <td><a href="https://www.instagram.com/volana.software/"><img src="../assets/images/instagram.png" alt="instagram" width="40" height="40"></a></td>
  </tr>
</table> -->

<div class="container">
  <div class="row">
    <div class="col"><a href="https://www.linkedin.com/in/mika-rafaralahy-4643a51a2/"><img src="../assets/images/linkedIn.png" alt="linkeDin" width="40" height="40"></a></div>
    <div class="col"><a href="https://github.com/Foxmik0007"><img src="../assets/images/gitHub.png" alt="github" width="40" height="40"></a></div>
    <div class="col"><a href="https://www.instagram.com/volana.software/"><img src="../assets/images/instagram.png" alt="instagram" width="40" height="40"></a></div>
  </div>
</div>
